/*
 *	PANELISTIC DESIGN
 *	-the modern design for desktop apps and websites.
 *	This version is for DESKTOP APPS.
 *	Copyright ©2021 Cot. All rights reserved.
 */

/* CONFIG */


/* APP AREA */

.panelistic-titlebar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 32px;
    -webkit-app-region: drag;
    background-color: #ddd;
    color: black;
    z-index: 65535;
}

.panelistic input{
	background-color: rgb(160,0,123)
}

.panelistic-controlbtn {
    width: 45px;
    height: 29px;
    position: absolute;
    -webkit-app-region: none;
    -webkit-user-select: none;
}

.panelistic-controlbtn:hover {
	background-color: rgba(100, 100, 100, .5);
}

.panelistic-controlbtn:active {
	background-color: rgba(100, 100, 100, .7);
}

.panelistic-closebtn:hover {
	background-color: rgb(255, 0, 0);
}

.panelistic-closebtn:active {
	background-color: rgb(200, 0, 0);
}

.panelistic-titlebar span {
    color: black;
    position: fixed;
    top: 9px;
    margin-left: 7px;
    font-size: 14px;
}

.panelistic-minbtn {
    right: 91px;
    top: 1px;
}

.panelistic-maxbtn {
    right: 46px;
    top: 1px;
}

.panelistic-closebtn {
    right: 1px;
    top: 1px;
}

.panelistic-defullbtn {
    right: 46px;
    top: 1px;
    display: none;
}

.panelistic-space {
    height: 32px;
    width: 50px;
    display: block;
    padding: 0px;
    margin: 0px;
}

/* PUBLIC AREA */

* {
    transition: 0.2s;
    user-select: none;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background: rgb(235,237,239);
}

::-webkit-scrollbar-thumb {
    background: #00000077;
    border-radius: 4px;
}

:hover::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4);
}

:hover::-webkit-scrollbar-track {
    background: rgb(235,237,239);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'panelistic';
    background-color: rgb(235,237,239);
    color: black;
}

@font-face {
    font-family: 'panelistic';
    src: url('bahnschrift.ttf');
}

.panelistic-group {
    top: 5px;
    overflow: hidden;
    display: block;
    user-select: none;
    position: relative;
}

.panelistic-subgroup {
    border: 1px solid #aaaaaa66;
    margin: 6px;
    border-radius: 1px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    top: 14px;
    text-align: left;
    cursor: pointer;
    backdrop-filter: blur(2px);
}

.panelistic-subgroup span {
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
}

.panelistic-subgroup img {
    margin-top: 4px;
    margin-left: 5px;
}

.panelistic-subgroup:hover {
    background-color: #ccc;
}


.panelistic-subgroup:active {
    background-color: #aaa;
}
body select {
    outline: none;
    background-color: #28292355;
    border: 1px dashed #ddd;
    color: white;
    border-radius: 3px;
    min-width: 40%;
    padding: 5px;
    margin: 5px;
    user-select: all;
    appearance: none;
}